# Regression

In [10]:
import pandas as pd
import numpy as np

In [11]:
from tensorflow.keras.models import Sequential

from tensorflow.keras.layers import Dense,Dropout,Activation, Flatten, Conv2D, MaxPooling2D

In [12]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [13]:
concrete_data.shape

(1030, 9)

In [14]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [15]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [16]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[0:8]] # all columns except Strength
target = concrete_data[concrete_data_columns[8:]] # Strength column

In [17]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [18]:
target.head()

   Strength
0     79.99
1     61.89
2     40.27
3     41.05
4     44.30

In [19]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [20]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

In [22]:
def regression_model():
  
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [23]:
model = regression_model()

In [24]:
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 721 samples, validate on 309 samples
Epoch 1/100
721/721 - 1s - loss: 1700.1204 - val_loss: 1191.4931
Epoch 2/100
721/721 - 0s - loss: 1598.6280 - val_loss: 1095.1755
Epoch 3/100
721/721 - 0s - loss: 1432.9695 - val_loss: 937.1369
Epoch 4/100
721/721 - 0s - loss: 1164.6975 - val_loss: 718.1450
Epoch 5/100
721/721 - 0s - loss: 817.1965 - val_loss: 466.1213
Epoch 6/100
721/721 - 0s - loss: 484.3925 - val_loss: 272.8070
Epoch 7/100
721/721 - 0s - loss: 296.9340 - val_loss: 186.1410
Epoch 8/100
721/721 - 0s - loss: 240.1272 - val_loss: 170.7518
Epoch 9/100
721/721 - 0s - loss: 220.1574 - val_loss: 170.9762
Epoch 10/100
721/721 - 0s - loss: 207.2289 - val_loss: 168.6994
Epoch 11/100
721/721 - 0s - loss: 198.1341 - val_loss: 168.6273
Epoch 12/100
721/721 - 0s - loss: 191.0982 - val_loss: 165.1866
Epoch 13/100
721/721 - 0s - loss: 184.5401 - val_loss: 164.0028
Epoch 14/100
721/721 - 0s - loss: 180.1651 - val_loss: 156.5676
Epoch 15/100
721/721 - 0s - loss: 175.1714 - val_loss: 159.8185
Epoch 16/100
721/721 - 0s - loss: 171.0888 - val_loss: 155.1178
Epoch 17/100
721/721 - 0s - loss: 167.9968 - val_loss: 154.3145
Epoch 18/100
721/721 - 0s - loss: 165.0123 - val_loss: 153.3207
Epoch 19/100
721/721 - 0s - loss: 162.2032 - val_loss: 152.4263
Epoch 20/100
721/721 - 0s - loss: 159.7505 - val_loss: 150.1973
Epoch 21/100
721/721 - 0s - loss: 157.3262 - val_loss: 147.8212
Epoch 22/100
721/721 - 0s - loss: 155.3096 - val_loss: 146.2524
Epoch 23/100
721/721 - 0s - loss: 154.0303 - val_loss: 144.7370
Epoch 24/100
721/721 - 0s - loss: 152.0836 - val_loss: 144.0222
Epoch 25/100
721/721 - 0s - loss: 149.8832 - val_loss: 142.7444
Epoch 26/100
721/721 - 0s - loss: 148.9564 - val_loss: 143.2736
Epoch 27/100
721/721 - 0s - loss: 147.6668 - val_loss: 140.4551
Epoch 28/100
721/721 - 0s - loss: 145.6055 - val_loss: 139.9114
Epoch 29/100
721/721 - 0s - loss: 144.4167 - val_loss: 140.8473
Epoch 30/100
721/721 - 0s - loss: 143.6029 - val_loss: 137.8956
Epoch 31/100
721/721 - 0s - loss: 141.8957 - val_loss: 138.8751
Epoch 32/100
721/721 - 0s - loss: 141.0033 - val_loss: 137.1066
Epoch 33/100
721/721 - 0s - loss: 139.0705 - val_loss: 135.9583
Epoch 34/100
721/721 - 0s - loss: 138.0304 - val_loss: 136.1582
Epoch 35/100
721/721 - 0s - loss: 137.2204 - val_loss: 134.3580
Epoch 36/100
721/721 - 0s - loss: 136.1262 - val_loss: 136.6055
Epoch 37/100
721/721 - 0s - loss: 135.5234 - val_loss: 134.6246
Epoch 38/100
721/721 - 0s - loss: 134.2838 - val_loss: 134.5824
Epoch 39/100
721/721 - 0s - loss: 133.2940 - val_loss: 133.8849
Epoch 40/100
721/721 - 0s - loss: 132.4072 - val_loss: 133.0031
Epoch 41/100
721/721 - 0s - loss: 131.5815 - val_loss: 135.0205
Epoch 42/100
721/721 - 0s - loss: 130.8071 - val_loss: 133.2575
Epoch 43/100
721/721 - 0s - loss: 130.1525 - val_loss: 132.3026
Epoch 44/100
721/721 - 0s - loss: 129.0439 - val_loss: 134.3423
Epoch 45/100
721/721 - 0s - loss: 127.9819 - val_loss: 130.7005
Epoch 46/100
721/721 - 0s - loss: 127.5404 - val_loss: 133.1976
Epoch 47/100
721/721 - 0s - loss: 126.0574 - val_loss: 130.9533
Epoch 48/100
721/721 - 0s - loss: 125.2015 - val_loss: 132.4864
Epoch 49/100
721/721 - 0s - loss: 124.3859 - val_loss: 131.0379
Epoch 50/100
721/721 - 0s - loss: 123.3250 - val_loss: 130.5623
Epoch 51/100
721/721 - 0s - loss: 122.9131 - val_loss: 129.6046
Epoch 52/100
721/721 - 0s - loss: 120.7919 - val_loss: 130.3358
Epoch 53/100
721/721 - 0s - loss: 120.1213 - val_loss: 130.3913
Epoch 54/100
721/721 - 0s - loss: 119.2966 - val_loss: 130.2456
Epoch 55/100
721/721 - 0s - loss: 117.4253 - val_loss: 127.7410
Epoch 56/100
721/721 - 0s - loss: 116.4693 - val_loss: 129.0630
Epoch 57/100
721/721 - 0s - loss: 115.4383 - val_loss: 126.9912
Epoch 58/100
721/721 - 0s - loss: 114.9193 - val_loss: 127.2005
Epoch 59/100
721/721 - 0s - loss: 112.9993 - val_loss: 128.6864
Epoch 60/100
721/721 - 0s - loss: 111.9382 - val_loss: 128.1406
Epoch 61/100
721/721 - 0s - loss: 111.0801 - val_loss: 127.4945
Epoch 62/100
721/721 - 0s - loss: 110.6536 - val_loss: 127.1043
Epoch 63/100
721/721 - 0s - loss: 109.0191 - val_loss: 126.4611
Epoch 64/100
721/721 - 0s - loss: 107.3532 - val_loss: 123.6175
Epoch 65/100
721/721 - 0s - loss: 106.4698 - val_loss: 123.1538
Epoch 66/100
721/721 - 0s - loss: 105.4565 - val_loss: 122.7968
Epoch 67/100
721/721 - 0s - loss: 103.8070 - val_loss: 122.5907
Epoch 68/100
721/721 - 0s - loss: 102.0711 - val_loss: 123.3518
Epoch 69/100
721/721 - 0s - loss: 100.8022 - val_loss: 121.4205
Epoch 70/100
721/721 - 0s - loss: 99.1485 - val_loss: 120.9577
Epoch 71/100
721/721 - 0s - loss: 98.5510 - val_loss: 120.9474
Epoch 72/100
721/721 - 0s - loss: 96.5892 - val_loss: 120.0646
Epoch 73/100
721/721 - 0s - loss: 94.9835 - val_loss: 119.2884
Epoch 74/100
721/721 - 0s - loss: 93.4137 - val_loss: 121.6775
Epoch 75/100
721/721 - 0s - loss: 91.2437 - val_loss: 117.0656
Epoch 76/100
721/721 - 0s - loss: 89.4330 - val_loss: 116.5681
Epoch 77/100
721/721 - 0s - loss: 88.2191 - val_loss: 118.1903
Epoch 78/100
721/721 - 0s - loss: 86.2182 - val_loss: 114.7023
Epoch 79/100
721/721 - 0s - loss: 84.3562 - val_loss: 112.4124
Epoch 80/100
721/721 - 0s - loss: 81.8150 - val_loss: 112.6603
Epoch 81/100
721/721 - 0s - loss: 79.8680 - val_loss: 115.8719
Epoch 82/100
721/721 - 0s - loss: 77.6689 - val_loss: 110.4625
Epoch 83/100
721/721 - 0s - loss: 75.3389 - val_loss: 109.2192
Epoch 84/100
721/721 - 0s - loss: 73.2158 - val_loss: 110.9446
Epoch 85/100
721/721 - 0s - loss: 71.1933 - val_loss: 107.4547
Epoch 86/100
721/721 - 0s - loss: 69.4448 - val_loss: 108.3785
Epoch 87/100
721/721 - 0s - loss: 67.2546 - val_loss: 99.2880
Epoch 88/100
721/721 - 0s - loss: 65.3132 - val_loss: 104.8204
Epoch 89/100
721/721 - 0s - loss: 62.6068 - val_loss: 104.9966
Epoch 90/100
721/721 - 0s - loss: 60.7684 - val_loss: 104.2380
Epoch 91/100
721/721 - 0s - loss: 58.6223 - val_loss: 99.6137
Epoch 92/100
721/721 - 0s - loss: 56.7181 - val_loss: 98.7829
Epoch 93/100
721/721 - 0s - loss: 54.8257 - val_loss: 102.4877
Epoch 94/100
721/721 - 0s - loss: 53.2108 - val_loss: 95.0910
Epoch 95/100
721/721 - 0s - loss: 51.6372 - val_loss: 100.5824
Epoch 96/100
721/721 - 0s - loss: 49.4226 - val_loss: 96.7259
Epoch 97/100
721/721 - 0s - loss: 48.9227 - val_loss: 99.2362
Epoch 98/100
721/721 - 0s - loss: 47.4128 - val_loss: 99.9717
Epoch 99/100
721/721 - 0s - loss: 46.0131 - val_loss: 103.0745
Epoch 100/100
721/721 - 0s - loss: 44.6320 - val_loss: 99.2738